<section class="cell-row">
  <div
    class="cell-row__item cell-row__item--parent"
    [style.height]="initialHeight+ 'px'"
  >
    <ng-container
      *ngTemplateOutlet="key === this.params.context.toggleColumn
    ? toggleCell
    : cellSwitcher; context: {$implicit: this.params.data[key]}"
    ></ng-container>
  </div>

  <ng-container *ngIf="this.params.node.expanded">
    <div
      class="cell-row__item cell-row__item--child"
      [style.height]="initialHeight+ 'px'"
      *ngFor="let child of params.data.children"
    >
      <ng-container *ngTemplateOutlet="cellSwitcher; context: {$implicit: child[key]}"></ng-container>
    </div>
  </ng-container>
</section>

<ng-template
  #cellSwitcher
  let-data>
  <ng-container *ngIf="params.colDef.cellRendererParams?.expandableCellRenderer">
    <ng-container appDynamicCellRenderer [params]="params" [data]="data"></ng-container>
  </ng-container>
  <ng-container *ngIf="!params.colDef.cellRendererParams?.expandableCellRenderer">
    <ng-container *ngTemplateOutlet="defaultCell; context: {$implicit: data}"></ng-container>
  </ng-container>
</ng-template>

<ng-template
  #toggleCell
  let-data
>
  <ng-container *ngTemplateOutlet="defaultCell; context: {$implicit: data}"></ng-container>
  <button
    *ngIf="params.data.children && key === this.params.context.toggleColumn"
    (click)="toggle()"
  >toggle
  </button>
</ng-template>

<ng-template
  #defaultCell
  let-data
>
  <span>{{ data }}</span>
</ng-template>
